<?php
/*
 * This file is not copied automatically to the local test env
 */
return array (
    'db' => array (
        'host' => '',
        'port' => '',
        'dbname' => '',
        'driver' => 'PDO',
        'dsn'            => 'mysql:dbname=;host=',
        'driver_options' => array(
            PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES \'UTF8\''
            )
        ),
    'email' => array (
        'default' => array (
            'sender' => 'info@bluemed.pt',
            'receiver' => 'user1@mailinator.com, user2@mailinator.com',
            ),
        ),
    'flagicons' => array (
            'pt' => '/img/Portugal-Flag.png',
            'en' => '/img/United-Kingdom-Flag.png'
        ),
    'locale' => array(
        'pt' => array(
                    'adapter' => 'gettext',
                    'content' => 'Assets/locale/pt/default.mo'
                ),
        'en' => array(
                    'adapter' => 'gettext',
                    'content' => 'Assets/locale/en/messages.mo'
                )
        )
);

?>
